
body {
    font-family: 'MicrosoftYaHeiUI', 'MicrosoftYaHei';
}
.navigationWrapper {
    width: 100%;
    overflow: hidden;
}

.navigationWrapper .content {
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.content .bg_video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.content_container {
    position: relative;
    width: 1920px;
    margin: 0 auto;
}

.content_container .content_left {
    position: absolute;
    top: 31px;
    left: 300px;
    width: 632px;
    height: 1049px;

}

.content_container .content_left img {
    width: 100%;
    height: 100%;
}

.content_container .content_right {
    position: absolute;
    top: 300px;
    right: 444px;
    width: 716px;
}
