* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#background_video {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
    height: 100%;
    width: 100%;
}

#video_cover {
    position: absolute;

    width: 100%;
    height: 100%;

    background: url('video_cover.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

#play img {
    width: 100px;
}

#pause img {
    width: 90px;
}

#pause {
    display: none;
}


/* Demo page specific styles */

body {
    text-align: center;
    font-family: 'proxima-nova', Helvetica;
}

#container {
    height: 100%;
}

#app {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
